.grid-projects {
  &__project {
  }
}

.projects {
  &__title {
   
  }
  &__grid {
  }
}
.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 50px;
  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
  }
}
